CFG80211=m
WIRELESS=y
WLAN=y
RFKILL=y
RFKILL_INPUT=y
RFKILL_GPIO=y
CONFIG_STAGING_MEDIA=y
CONFIG_CMA_SIZE_MBYTES=32
CONFIG_CMA_SIZE_SEL_MBYTES=y
CONFIG_STAGING_MEDIA=y
CONFIG_VIDEO_SUNXI=y
CONFIG_VIDEO_SUNXI_CEDRUS=n
CONFIG_VIDEO_SUNXI_CEDAR_VE=y
CONFIG_VIDEO_SUNXI_CEDAR_ION=y
CONFIG_MEDIA_CONTROLLER=y
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_VIDEO_OV5640=y